* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    font-family: 'Arial',  sans-serif;
}

#title {
    font-size: 2.5rem;
    font-weight: 700;
    vertical-align: top;
}

body {
    font-family: 'Arial',  sans-serif;
    background-color: #F6F8F9;
}
