* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --check: #64C0A9;
    --uncheck: #EB5851;
    --editorial: #45ABEA;
    --goals: #9C72E4;
    --recruiting: #64C0A9;
    --mobile: #F29E33;
    --web: #D863A1;
}

header {
    background-color: white;
    font-family: 'Arial',  sans-serif;
}

#title {
    font-size: 2.5rem;
    font-weight: 700;
    vertical-align: top;
}

body {
    font-family: 'Arial',  sans-serif;
    background-color: #F6F8F9;
}

.container {
    width: 790px;
    height: 800px;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 0.5rem;
}

.buttons {
    padding: 1rem;
    margin-left: 2rem;
}

/* stile button */
#task {
    border-radius: 5px;
    border: 0px;
    color: white;
    padding: 10px;
    background-color: #47ADF1;
}

#section {
    border-radius: 5px;
    border: 1px solid #C5CBD0;
    color: #CCD1D5;
    background-color: white;
    padding: 10px;
}

#title_2 {
    border-top: 1px solid #C5CBD0;
    padding: 10px;
}

.space {
    padding: 10px;
}

.check {
    color: var(--check);
    border: 1px solid var(--check);
    border-radius: 50%;
    padding: 3px;
}

.uncheck {
    color: var(--uncheck);
    border: 1px solid var(--uncheck);
    border-radius: 50%;
    padding: 3px;
}

#edit_1{
    font-size: 11px;
    background-color: var(--editorial);
    border-radius: 5px;
    padding: 5px;
}

.title_3 {
    padding: 10px;
}

#edit_2 {
    font-size: 11px;
    background-color: var(--editorial);
    border-radius: 5px;
    padding: 5px;
}

#edit_3 {
    font-size: 11px;
    background-color: var(--goals);
    border-radius: 5px;
    padding: 5px;
}

#edit_4 {
    font-size: 11px;
    background-color: var(--recruiting);
    border-radius: 5px;
    padding: 5px;
}

#edit_5 {
    font-size: 11px;
    background-color: var(--mobile);
    border-radius: 5px;
    padding: 5px;
}

#edit_6 {
    font-size: 11px;
    background-color: var(--web);
    border-radius: 5px;
    padding: 5px;
}

#edit_7 {
    font-size: 11px;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}

#edit_8 {
    font-size: 11px;
    background-color: var(--editorial);
    border-radius: 5px;
    padding: 5px;
}